<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="/img/logo/logo2.png">
    </div>
    <div class="sidebar-brand-text mx-3">SSurvay Admin</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="/home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Features
  </div>
  <li class="nav-item">
    <a class="nav-link" href="/home/survays">
      <i class="fas fa-fw fa-th-large"></i>
      <span>Survays</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home/survay-response">
      <i class="fas fa-fw fa-list-ul"></i>
      <span>Survay Responses</span>
    </a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/api/v1/doc">
      <i class="fas fa-fw fa-th-list"></i>
      <span>Api Integrate</span>
    </a>
  </li>
</ul>